<%- include("../partials/header") %>
<div class="wrap push-down">
    <form action="/flights" method="post">
        <div class="mb-3">
            <label for="seat" class="form-label">Seat [A1-F99]</label>
            <input type="text" class="form-control" id="seat" name="seat" pattern="[A-F][1-9]\d?" required>
        </div>
        <div class="invalid-feedback">
            
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div class="invalid-feedback">
            
        </div>
        <div class="mb-3">
            <label for="flight" class="form-label">Flight</label>
            <input type="text" class="form-control" id="flight" name="flight" value="<%= flightNo %>" required>
        </div>
        <div class="invalid-feedback">
            
        </div>
        <button type="submit" class="btn btn-dark">Create Ticket <i class="bi bi-plus-square-fill"></i></button>
    </form>
    <% if (errorMsg !== "") {%>
    <div class="alert alert-warning alert-dismissible fade show push-down" role="alert">
        <strong>Holy guacamole!</strong> <%= errorMsg %>>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%}%>
</div>
<%- include("../partials/footer") %>